
	<h1>Welcome to your dashboard, <%= @user.username%>!</h1> <%=  button_to "Logout", logout_path(:id => session[:user_id]), :method => :delete %>


<!-- CONTRACTS SECTION -->
<%= render "/contracts/active_contracts" %>

<!-- TOOL SECTION, float side by side -->
<h2>My Toolbox</h2> 
	<div>
		<button id="show-toolbox" data-user-id="<%= @user.id %>">' Show Toolbox '</button>
		<button style="display: none" id="hide-toolbox" data-user-id="<%= @user.id %>">' Hide Toolbox '</button>
	</div>
	<br>
	<div id="toolbox">
	
	</div>


<h3>Add some tools to your toolbox so you can loan them out!</h3>
	<%= render "tools/new_tool_form" %>
<br>
<br>

<!-- Loan or Borrow things, float side by side -->

<!-- MAKE THIS FORM WITH JAVASCRIPT! -->
<!-- call new contract partial with JS?? -->
<h3>Loan a Tool to Someone!</h3>
	<%= form_for @contract do |f| %>
		<%= f.label :borrower, "Borrower" %>
		<%= f.collection_select :borrower, User.all, :username, :username, {include_blank: true} %> <br> <br>
		<%= f.label :tool, "Tool: " %>
	<!-- 	<%= f.collection_select :tool, @user.available_tools, :name, :name, {include_blank: true} %> -->
		<%= f.select :tool_id, options_for_select(@user.available_tools.collect { | tool | [tool.name, tool.id] }, @tool.id), {include_blank: true}, {} %>
		<%= f.submit "Loan it out!", id: "create_tool_contract" %>
	<% end %>
<!-- pass ToolId ... POST request for new contract -->

